<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartMES_SinMyung.Properties.Settings.sinmyung_mesConnectionString"
            connectionString="server=14.34.80.72;user id=sinmyung;password=sinmyung!;database=sinmyung_mes"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>